ORY_HYDRA_ADMIN_URL=http://localhost:4445
NEXT_PUBLIC_ORY_KRATOS_URL=http://localhost:4433
NEXT_PUBLIC_ORY_SDK_URL=http://localhost:4433

NEXT_PUBLIC_HYDRA_PUBLIC_URL=http://localhost:4444
NEXT_PUBLIC_HYDRA_OAUTH2_CLIENT_ID=6ec0e48f-4346-47c7-934f-f71cb22d4868
NEXT_PUBLIC_HYDRA_OAUTH2_REDIRECT_URL=http://localhost:3000/hydra/callback
NEXT_PUBLIC_HYDRA_OAUTH2_SCOPES="openid offline"

HYDRA_OAUTH2_CLIENT_ID=6ec0e48f-4346-47c7-934f-f71cb22d4868
HYDRA_OAUTH2_CLIENT_SECRET=hd7vC4LOHwTJ8KfK56LkxV3TYG
HYDRA_OAUTH2_REDIRECT_URL=http://localhost:3000/hydra/callback